.locale__section{
  position: fixed;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding: 0.25rem 0.5rem;
  align-items: center;
  right:10%;
  top: 0.3rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.8rem;
  padding-inline: 1rem;
  z-index: 999;
}
.line{
  background: rgba(246, 226, 7, 0.3);
  width: 10rem;
  height: 0.5rem;
  position : absolute;
  border-radius: 1rem;
  z-index: -1;
}
.child{
  padding: 0rem 0.4rem;
  border: 1px solid rgba(154, 154, 161, 0.2);
  border-radius: 0.5rem;
  margin-right: 0.4rem;
  background-color: #222222;

  color:white;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px -0px 0px 0px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.4s ease, background-color 0.4s ease;
}
.child:hover{
  box-shadow: 0px 2px 2px 0px rgba(255,255,255, 0.2), 0px -2px 2px 0px rgba(255,255,255,.4);
  background: rgba(154, 154, 161, 0.2);
}
.lighten{
  box-shadow: 0px 2px 2px 0px rgba(255,255,255, 0.2), 0px -2px 2px 0px rgba(255,255,255,0.4);
  background: rgba(154, 154, 161, 0.2);
  border-color: rgba(246, 226, 7, 0.4);
}
.locale__section .child:first-child::before{
  position: absolute;
  content: "";
  height:0.25rem;
  width: 6rem;
  background-color: rgba(246, 226, 7, 0.3);
  right: 100%;
  top: 50%;
  transform:  translate(0%, -50%);
  border-radius: 1rem;
  box-shadow: 0px 1px 2px 0px rgba(246, 226, 7, 0.2), 0px -1px 2px 0px rgba(246, 226, 7, 0.4);
  transition: box-shadow 0.4s ease;
}
.locale__section .child:last-child::before{
  position: absolute;
  content: "";
  height:0.25rem;
  width: 3rem;
  background-color: rgba(246, 226, 7, 0.3);
  left: 100%;
  top: 50%;
  transform:  translate(0%, -50%);
  border-radius: 1rem;
  box-shadow: 0px 1px 2px 0px rgba(246, 226, 7, 0.2), 0px -1px 2px 0px rgba(246, 226, 7, 0.4);
  transition: box-shadow 0.4s ease;
}
.locale__section:hover .child:first-child::before,.locale__section:hover .child:last-child::before{
  box-shadow: 0px 4px 8px 0px rgba(246, 226, 7, 0.2), 0px -4px 8px 0px rgba(246, 226, 7, 0.4);
  background-color: rgba(246, 226, 7, 0.9);
}

.nav__parent{
    display: flex;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0rem 0.25rem;
    margin-top: 0.8rem;
}
svg{
    height: 4em;
}
.iconHolder{
    cursor: pointer;
}
.popuplist{
    z-index: 2;
    position: absolute;
    left:50%;
    translate: -65%;
    border:1px solid rgba(154, 154, 161, 0.2);
    box-shadow: 0px 6px 12px 0px rgba(154, 154, 161, 0.2), 0px -6px 12px 0px rgba(154, 154, 161, 0.4);
    padding: 0.5rem;
    border-radius: 0.25rem;
    padding-inline-start: 0.5rem;
}
@media (max-width: 400px) {
    .popuplist{
        translate: -50%;
    }
    .connector{
        translate: 90%;
    }
}
.nav__links{
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.nav__links_item{
    position: relative;
    cursor: pointer;
}
.nav__links_item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left:55%;
    height: 2px;
    width: 0%;
    background-color: yellow;
    top:98%;
    border-radius: 2px;
    transition: width 0.3s ease, left 0.3s ease;
}
.nav__links_item:hover::after{
    width: 110%;
    left: -5%;
}
form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
  }

  @media (max-width: 400px) {
    form{
        border: 1px solid #242424;
    }
  }
  form:hover{
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
  }
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border-radius: inherit;
    outline: none;
    color: white;
    font-weight: bold;
    max-width: 9rem;
  }
  .inputshorten{
    width: 0;

  }
  @media (max-width: 600px) {
    input[type="search"] {
        max-width: 7rem;
    }
  }
  input[type="search"]::placeholder {
    color: white;
    font-weight: bold;

  }
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
    border: 1px solid #FFFAF0;
  }
  button[type="submit"]:focus,
  input[type="search"]:focus {
  }
  .clicked{
    background: white;
  color: #007bff;
  }
  .connector {
      position: absolute;
      left: 42%;
      top: 12.8%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      background-color: rgba(154, 154, 161, 0.3);
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
